* { 
    margin: 0; 
    padding: 0;
} 

html{
    width: 1440px; 
    background: #555;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

a{
    text-decoration: none;
}

.t1, .t2 {
    color: #00ADEE;
}

 /* <------ BLOCK 1 ------> */ 

.blockFlexColumn{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.column1, .column2{
    width: 50%;
    height: auto;
    
}

.b1 .column1, .b1 .column2{
    background: #F4F6F9;
}

.b1 .column2{
    content: url(img/Group.png);
}

.b1 .column1 .content{
    margin-top: 63px;
    margin-left: 100px;
}

.title{
    font-size: 24px;
    color: #5282F0;   
}

.title::before{
    content: url(img/football.svg);
}

.text{
    margin-top: 130px;
}

.text h2{
    font-size: 36px;
    font-weight: 700;
}

.text h4{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.buttons .appStore{
    content: url(img/appStore.png);
    width: auto;
    height: auto;
}

.buttons .googlePlay{
    margin-left: 36px;
    content: url(img/googlePlay.png);
}

 /* <------ BLOCK 2 ------> */ 

.b2 {
    flex-direction: row-reverse;
    
}

.column1, .column2{
    background: #fff;
    height: inherit;
    display: inline;
}

.b2 .column1 .content{
    margin-left: 100px;
    width: 455px;
}

.text h3 {
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: 28px;
    font-weight: 700;
}

.text h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
}

.b2 .column2{
    background: url("img/Rectangle.png"), linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 15%, rgba(255,255,255,0));
    height: 592px;
}

.screans{
    position: relative;
}

.screans .screan1, .screans .screan2{
width: 360px;
height: 219px;
position: absolute;
}

.screans .screan1{
    content: url(img/screan1.png);
    top: 110px;
    left: 163px;
    z-index: 3;
}

.screans .screan2{
    content: url(img/screan2.png);
    top: 296px;
    left: 269px;
    z-index: 2;
}

 /* <------ BLOCK 3 ------> */ 
.b3 .column1{
    background: rgba(0, 0, 0, 0);
}
 .b3 .column1 .content{
    margin-top: 217px;
    margin-left: 162px;
    width: 495px;
 }

 .b3 {
    display: inline-block;
    background: url(img/b3-Background.png);
    background-repeat: no-repeat;
    height: 716px;
 }
 
 .b3 .column1 .content .text .t2{
    margin-top: 55px;
}

/*<--  BLOCK 4 -->*/
 .b4 {
    background: url(img/b4-Background.png);
    background-repeat: no-repeat;
    height: 735px;
    width: 100%;
 }

 .b4 h2 {
    padding-top: 75px;
    font-size: 37px;
    color: #fff;
    text-align: center;
 }
.elem-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

 .element {
    padding: 40px;
    height: 126px;
    width: 315px;
}

.element .img1, .element .img2, .element .img3, .element .img4, .element .img5, .element .img6, .element .img7, .element .img8, .element .img9 {
    height: 40px;
    width: 40px;
}
.element .img1{
    content: url(img/png1.png);
}

.element .img2{
    content: url(img/png2.png);
}
.element .img3{
    content: url(img/png3.png);
}
.element .img4{
    content: url(img/png4.png);
}
.element .img5{
    content: url(img/png5.png);
}
.element .img6{
    content: url(img/png6.png);
}
.element .img7{
    content: url(img/png7.png);
}
.element .img8{
    content: url(img/png8.png);
}
.element .img9{
    content: url(img/png9.png);
}
.el-text{
    font-size: 16px;
    color: #fff;
}