* { 
    margin: 0; 
    padding: 0;
} 

html{
    width: 1440px; 
    background: #555;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

.blockFlexColumn{
    display: flex;
    width: 100%;
    flex-direction: row;
}



.column1, .column2{
    width: 50%;
    height: auto;
    background: #F4F6F9;

}

.b1 .column2{
    content: url(img/Group.png);
    
}

.b1 .column1 .content{
    margin-top: 63px;
    margin-left: 100px;

}

.title{
    font-size: 24px;
    color: #5282F0;   

}

.title::before{
    content: url(img/football.svg);
}

.text{
    margin-top: 130px;
}

.text h2{
    font-size: 36px;
    font-weight: 700;
}

.text h4{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.buttons .appStore{
    content: url(img/appStore.png);
    width: auto;
    height: auto;
}

.buttons .googlePlay{
    margin-left: 36px;
    content: url(img/googlePlay.png);
}

.b2 {
    flex-direction: row-reverse;
}